<ion-header>
  <ion-navbar>
    <ion-title ><div id="appTitle">Electronic Health Record System</div>
      <div id="welcometitle">Welcome</div>
    </ion-title>
    <ion-buttons style="padding-right: 14px;   border-right: 1px solid #fff;  margin-right: 13px;" end>     
      <button  id="headerButton" ion-button outline icon-right (click)="selectedSegment = 'profile'">
        {{doctorInfo.firstName}} {{doctorInfo.lastName}}
      </button>
    </ion-buttons>
    <ion-buttons end>
        <button id="headerButton" ion-button outline icon-right (click)="logoutUser()">
          Log out
          <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
        </button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content>
  
  <div class="leftContent">
    <ion-list no-lines>
      <ion-item>
        <ion-segment [(ngModel)]="selectedSegment">
          <ion-segment-button value="validation" [disabled]="recordsAccessApproval">
            Validation
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-item>
        <ion-segment [(ngModel)]="selectedSegment">
          <ion-segment-button value="patientCentre" [disabled]="!recordsAccessApproval">
            Details & Records
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-item>
        <ion-segment [(ngModel)]="selectedSegment">
          <ion-segment-button value="report" [disabled]="!recordsAccessApproval">
            New Report
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-item>
        <ion-segment [(ngModel)]="selectedSegment">
          <ion-segment-button value="prescription" [disabled]="!recordsAccessApproval">
            New Prescription
          </ion-segment-button>
        </ion-segment>
      </ion-item>
<!--       <ion-item>
        <ion-segment [(ngModel)]="selectedSegment">
          <ion-segment-button value="profile">
            My Profile
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-item>
        <ion-segment [(ngModel)]="selectedSegment">
          <ion-segment-button value="about">
            About
          </ion-segment-button>
        </ion-segment>
      </ion-item> -->         
    </ion-list>
  </div>
  
  <div class="rightContent">
    <div [ngSwitch]="selectedSegment">

          <div padding *ngSwitchCase="'profile'">
            <div class="doctorDetailsBox" id="boxShadows">
                <ion-list>
                  <ion-list-header>
                    <div class="headerText">My profile</div>
                    <ion-buttons end>
                        <button id="" ion-button icon-right>
                          Edit
                          <ion-icon ios="ios-create" md="md-create"></ion-icon>
                        </button>
                    </ion-buttons>  

                  </ion-list-header>
                  <ion-item>
                    <div id="left">
                      <h2>{{doctorInfo.uid}}</h2>
                      <p>Unique UID</p>
                    </div>
                    <div id="right">
                      <h2>{{doctorInfo.emailId}}</h2>
                      <p>Email id</p>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div id="left">
                      <h2>{{doctorInfo.firstName}}</h2>
                      <p>First name</p>
                    </div>
                    <div id="right">
                      <h2>{{doctorInfo.lastName}}</h2>
                      <p>Last name</p>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div id="left">
                      <h2>{{doctorInfo.gender}}</h2>
                      <p>Gender</p>
                    </div>
                    <div id="right">
                      <h2>{{doctorInfo.dateOfBirth}}</h2>
                      <p>Date of Birth</p>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div id="left">
                      <h2>{{doctorInfo.hospitalName}}</h2>
                      <p>Hospital/Clinic Name</p>
                    </div>
                    <div id="right">
                    </div>
                  </ion-item>
                </ion-list>
              </div>
          </div>
          


          <div padding *ngSwitchCase="'validation'">
            
            <div class="patientValidationBox">
              <ion-list >
              
                <ion-item>
                  <ion-label >Patient UID</ion-label>
                  <ion-input type="text" [(ngModel)]="patientUid" [disabled]="recordsAccessApproval"></ion-input>
                </ion-item>

                <button id="contentButton" style="margin-top: 20px;" ion-button (click)="sendNotification()" [disabled]="recordsAccessApproval">Validate patient</button>
              </ion-list>
            </div>

          </div>


          <div padding *ngSwitchCase="'patientCentre'">

            <div class="patientRecordsBox" *ngIf="recordsAccessApproval">
              
              <div class="patientDetailsBox" id="boxShadows">
                <ion-list>
                  <ion-list-header>
                    <div class="headerText">Personal details (UID : {{patientUid}})</div>
                    <ion-buttons end (click)="newPatient()">
                        <button id="" ion-button icon-right >
                          New patient
                          <ion-icon ios="ios-backspace" md="md-backspace"></ion-icon>
                        </button>
                    </ion-buttons>
                  </ion-list-header>
                  <ion-item>
                    <div id="left">
                      <h2>{{patientInfo.firstName}}</h2>
                      <p>First Name</p>
                    </div>
                    <div id="right">
                      <h2>{{patientInfo.lastName}}</h2>
                      <p>Last Name</p>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div id="left">
                      <h2>{{patientInfo.gender}}</h2>
                      <p>Gender</p>
                    </div>
                    <div id="right">
                      <h2>{{patientInfo.dateOfBirth}}</h2>
                      <p>Date of Birth</p>
                    </div>
                  </ion-item>
                </ion-list>
              </div>
              
              <div class="patientReportsBox" id="boxShadows">
                <ion-list>
                  <ion-list-header>
                    <div class="headerText">Medical records</div>
                    <ion-buttons end>
                        <button id="" ion-button icon-right (click)="addRecord()">
                          Add
                          <ion-icon ios="ios-document" md="md-document"></ion-icon>
                        </button>
                    </ion-buttons>                   
                  </ion-list-header>
                  <ion-item *ngIf="recordsData.length==0">
                    No records to display!
                  </ion-item>
                  <button ion-item *ngFor="let record of recordsData" (click)="fetchReport(record.url)">
                    <h2>{{record.name}}</h2>
                  </button>
                </ion-list>
              </div>
              
              <div class="patientPrescriptionsBox" id="boxShadows">
                <ion-list>
                  <ion-list-header>
                    <div class="headerText">Past prescriptions</div>
                    <ion-buttons end>
                        <button id="" ion-button icon-right (click)="addPrescription()">
                          Prescribe
                          <ion-icon ios="ios-paper" md="md-paper"></ion-icon>
                        </button>
                    </ion-buttons>  
                  </ion-list-header>
                  <ion-item *ngIf="true">
                    No records to display!
                  </ion-item>
<!--                   <button ion-item *ngFor="let prescription of prescriptionData">
                    <ion-label (click)="fetchReport(record.url)">{{record.name}}</ion-label>
                  </button> -->
                </ion-list>
              </div>
            </div> 

          </div>



          <div  padding *ngSwitchCase="'report'">
            <div class="newReportBox">
                <ion-list>
                  <ion-list-header>
                    <div class="headerText">Add new report</div>
                  </ion-list-header>
                  <ion-item>
                    <div id="left">
                      <h2>{{patientUid}}</h2>
                      <p>Patient UID</p>
                    </div>
                    <div id="right">
                      <h2>{{today | date}}</h2>
                      <p>Date</p>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div id="left">
                      <h2>{{patientInfo.firstName}} {{patientInfo.lastName}}</h2>
                      <p>Patient name</p>
                    </div>
                    <div id="right">
                      <h2>{{doctorInfo.firstName}} {{doctorInfo.lastName}}</h2>
                      <p>Doctor name</p>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div id="left">
                      <h2>{{patientInfo.dateOfBirth}}</h2>
                      <p>Patient DOB</p>
                    </div>
                    <div id="right">
                      <h2>{{doctorInfo.hospitalName}}</h2>
                      <p>Hospital/Clinic Name</p>
                    </div>
                  </ion-item>
                  <ion-item>
                    <ion-input type="text" placeholder="Details (optional)" [(ngModel)]="reportDetails"></ion-input>
                  </ion-item>
                  <ion-item>
                  <div id="left">
                    <input id="file-field" style="margin: 7px;" name="file-field" (change)="chooseFile($event)" type="file" accept=".pdf">
                  </div>
                  <div id="right">
                    <button ion-button id="uploadButton" (click)="uploadFile(patientUid)">Upload</button>
                  </div>
                  </ion-item>
                </ion-list>
              </div>
                
          </div>

          <div  padding *ngSwitchCase="'prescriptions'">
          </div>

        
      </div>

  </div>
</ion-content>

