<ion-header>
  <ion-navbar>
    <ion-title ><div id="appTitle">Electronic Health Record System</div>
    <div id="welcometitle">Welcome {{doctorInfo.firstName}} {{doctorInfo.lastName}}</div></ion-title>     
    <ion-buttons end>
        <button id="headerButton" ion-button outline icon-right (click)="logoutUser()">
          Log out
          <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
        </button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content>
  
  <div class="leftContent">
    <ion-list no-lines>
      <ion-item>
        <ion-segment [(ngModel)]="selectedSegment">
          <ion-segment-button value="patientCentre">
            Patient Centre
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-item>
        <ion-segment [(ngModel)]="selectedSegment">
          <ion-segment-button value="report">
            New Report
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-item>
        <ion-segment [(ngModel)]="selectedSegment">
          <ion-segment-button value="prescription">
            New Prescription
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-item>
        <ion-segment [(ngModel)]="selectedSegment">
          <ion-segment-button value="profile">
            My Profile
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-item>
        <ion-segment [(ngModel)]="selectedSegment">
          <ion-segment-button value="about">
            About
          </ion-segment-button>
        </ion-segment>
      </ion-item>         
    </ion-list>
  </div>
  
  <div class="rightContent">
    <div [ngSwitch]="selectedSegment">

          <div padding *ngSwitchCase="'profile'">
            <div class="doctorDetailsBox" id="boxShadows">
                <ion-list>
                  <ion-list-header>
                    My profile
                  </ion-list-header>
                  <ion-item>
                    <div id="left">
                      <h2>{{doctorInfo.uid}}</h2>
                      <p>Unique UID</p>
                    </div>
                    <div id="right">
                      <h2>{{doctorInfo.emailId}}</h2>
                      <p>Email id</p>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div id="left">
                      <h2>{{doctorInfo.firstName}}</h2>
                      <p>First name</p>
                    </div>
                    <div id="right">
                      <h2>{{doctorInfo.lastName}}</h2>
                      <p>Last name</p>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div id="left">
                      <h2>{{doctorInfo.gender}}</h2>
                      <p>Gender</p>
                    </div>
                    <div id="right">
                      <h2>{{doctorInfo.dateOfBirth}}</h2>
                      <p>Date of Birth</p>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div id="left">
                      <h2>{{doctorInfo.hospitalName}}</h2>
                      <p>Hospital/Clinic Name</p>
                    </div>
                    <div id="right">
                    </div>
                  </ion-item>
                </ion-list>
              </div>
<!--             <ion-list >
              <ion-list-header>
                My profile
              </ion-list-header>
              <ion-item>
                <ion-label stacked>Unique UID</ion-label>
                <ion-label>{{doctorInfo.uid}}</ion-label>
              </ion-item>

              <ion-item>
                <ion-label stacked>Email id</ion-label>
                <ion-label>{{doctorInfo.emailId}}</ion-label>
              </ion-item>

              <ion-item>
                <ion-label stacked>First name</ion-label>
                <ion-label>{{doctorInfo.firstName}}</ion-label>
              </ion-item>

              <ion-item>
                <ion-label stacked>Last name</ion-label>
                <ion-label>{{doctorInfo.lastName}}</ion-label>
              </ion-item>

              <ion-item>
                <ion-label stacked>Gender</ion-label>
                <ion-label>{{doctorInfo.gender}}</ion-label>
              </ion-item>

              <ion-item>
                <ion-label stacked>Date of birth</ion-label>
                <ion-label>{{doctorInfo.dateOfBirth}}</ion-label>
              </ion-item>

            </ion-list>   -->    
          </div>
          


          <div padding *ngSwitchCase="'patientCentre'">
            
            <div class="patientValidationBox" *ngIf="!recordsAccessApproval">
              <ion-list >
              
                <ion-item>
                  <ion-label >Patient UID</ion-label>
                  <ion-input type="text" [(ngModel)]="patientUid"></ion-input>
                </ion-item>

                <button id="contentButton" style="margin-top: 20px;" ion-button (click)="sendNotification()">Validate patient</button>
              </ion-list>
            </div>

            <div class="patientRecordsBox" *ngIf="recordsAccessApproval">
              
              <div class="patientDetailsBox" id="boxShadows">
                <ion-list>
                  <ion-list-header>
                    Personal details (UID : {{patientUid}})
<!--                     <ion-buttons end>
                      <button ion-button icon-only color="royal">
                        <ion-icon name="person-add"></ion-icon>
                      </button>
                    </ion-buttons> -->
                  </ion-list-header>
                  <ion-item>
                    <div id="left">
                      <h2>{{patientInfo.firstName}}</h2>
                      <p>First Name</p>
                    </div>
                    <div id="right">
                      <h2>{{patientInfo.lastName}}</h2>
                      <p>Last Name</p>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div id="left">
                      <h2>{{patientInfo.gender}}</h2>
                      <p>Gender</p>
                    </div>
                    <div id="right">
                      <h2>{{patientInfo.dateOfBirth}}</h2>
                      <p>Date of Birth</p>
                    </div>
                  </ion-item>
                </ion-list>
              </div>
              
              <div class="patientReportsBox" id="boxShadows">
                <ion-list>
                  <ion-list-header>
                    Medical reports
                  </ion-list-header>
                  <ion-item *ngIf="recordsData.length==0">
                    No records to display!
                  </ion-item>
                  <button ion-item *ngFor="let record of recordsData" (click)="fetchReport(record.url)">
                    <h2>{{record.name}}</h2>
                  </button>
                </ion-list>
              </div>
              
              <div class="patientPrescriptionsBox" id="boxShadows">
                <ion-list>
                  <ion-list-header>
                    Past prescriptions
                  </ion-list-header>
                  <ion-item *ngIf="true">
                    No records to display!
                  </ion-item>
<!--                   <button ion-item *ngFor="let prescription of prescriptionData">
                    <ion-label (click)="fetchReport(record.url)">{{record.name}}</ion-label>
                  </button> -->
                </ion-list>
              </div>
            </div> 

          </div>



          <div  padding *ngSwitchCase="'report'">
            <ion-list >
              
              <ion-item>
                <ion-label >Patient UID</ion-label>
                <ion-input type="text" [(ngModel)]="patientUid"></ion-input>
              </ion-item>

              <ion-item>
                <input id="file-field" name="file-field" (change)="chooseFile($event)" type="file" accept=".pdf">
              </ion-item>

              <ion-item>
                <ion-label >Description</ion-label>
                <ion-input type="text" [(ngModel)]="description"></ion-input>
              </ion-item>
               
            </ion-list>
            <button ion-button (click)="uploadFile(patientUid)">Upload</button>
          </div>

          <div  padding *ngSwitchCase="'prescriptions'">
          </div>

        
      </div>

  </div>
</ion-content>

