<ion-header>
  <ion-navbar>
    <ion-title ><div id="appTitle">Electronic Health Record System</div>
      <div id="welcometitle">Welcome</div>
    </ion-title>
    <ion-buttons style="padding-right: 14px;   border-right: 1px solid #fff;  margin-right: 13px;" end>     
      <button  id="headerButton" ion-button outline icon-right (click)="selectedSegment = 'myProfile'">
        {{doctorInfo.firstName}} {{doctorInfo.lastName}}
      </button>
    </ion-buttons>
    <ion-buttons end>
        <button id="headerButton" ion-button outline icon-right (click)="logoutUser()">
          Log out
          <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
        </button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content>
  
  <div class="leftContent">
    <ion-list no-lines>
      <ion-item>
        <ion-segment [(ngModel)]="selectedSegment">
          <ion-segment-button value="patientCentre" >
            Patient Centre
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-item>
        <ion-segment [(ngModel)]="selectedSegment">
          <ion-segment-button value="recordsSummary" >
            Records Summary
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-item>
        <ion-segment [(ngModel)]="selectedSegment">
          <ion-segment-button value="appointments" >
            Appointments
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-item>
        <ion-segment [(ngModel)]="selectedSegment">
          <ion-segment-button value="myProfile" >
            My Profile
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-item>
        <ion-segment [(ngModel)]="selectedSegment">
          <ion-segment-button value="about" [disabled]="true">
            About
          </ion-segment-button>
        </ion-segment>
      </ion-item>  
    </ion-list>
  </div>
  
  <div class="container" class="rightContent">
    <div [ngSwitch]="selectedSegment">

          <div padding *ngSwitchCase="'myProfile'">
            <div class="doctorDetailsBox" id="boxShadows">
                <ion-list>
                  <ion-list-header>
                    <div class="headerText">My profile</div>
                    <ion-buttons end>
                        <button id="" ion-button icon-right [disabled]="true">
                          Edit
                          <ion-icon ios="ios-create" md="md-create"></ion-icon>
                        </button>
                    </ion-buttons>  

                  </ion-list-header>
                  <ion-item>
                    <div id="left">
                      <h2>{{doctorInfo.uid}}</h2>
                      <p>Unique UID</p>
                    </div>
                    <div id="right">
                      <h2>{{doctorInfo.emailId}}</h2>
                      <p>Email id</p>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div id="left">
                      <h2>{{doctorInfo.firstName}}</h2>
                      <p>First name</p>
                    </div>
                    <div id="right">
                      <h2>{{doctorInfo.lastName}}</h2>
                      <p>Last name</p>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div id="left">
                      <h2>{{doctorInfo.gender}}</h2>
                      <p>Gender</p>
                    </div>
                    <div id="right">
                      <h2>{{doctorInfo.dateOfBirth | date}}</h2>
                      <p>Date of Birth</p>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div id="left">
                      <h2>{{doctorInfo.hospitalName}}</h2>
                      <p>Hospital/Clinic Name</p>
                    </div>
                    <div id="right">
                    </div>
                  </ion-item>
                </ion-list>
              </div>
          </div>
          


          <div *ngSwitchCase="'patientCentre'">

            <div padding>
              <ion-segment [(ngModel)]="pcSelection">
                <ion-segment-button value="validation">
                  Validation
                </ion-segment-button>
                <ion-segment-button value="details" [disabled]="!recordsAccessApproval">
                  Details
                </ion-segment-button>
                <ion-segment-button value="report" [disabled]="!recordsAccessApproval">
                  New Report
                </ion-segment-button>
                <ion-segment-button value="prescription" [disabled]="true">
                  New Prescription
                </ion-segment-button>
              </ion-segment>
            </div>

            <div [ngSwitch]="pcSelection">
              
              <ion-list *ngSwitchCase="'validation'">
                <div class="patientValidationBox">
              
                  <div class="form-group">
                    <input type="email" class="form-control" [(ngModel)]="patientUid" placeholder="Patient UID" required>
                  </div>

                  <button id="contentButton"  ion-button (click)="sendNotification()" [disabled]="recordsAccessApproval">Validate patient</button>
                </div>
              </ion-list>

              <ion-list *ngSwitchCase="'details'" >
                <div class="patientRecordsBox" *ngIf="recordsAccessApproval">
                
                  <div class="patientDetailsBox" id="boxShadows">
                    <ion-list>
                      <ion-list-header>
                        <div class="headerText">Personal details (UID : {{patientUid}})</div>
                        <ion-buttons end (click)="newPatient()">
                            <button id="" ion-button icon-right >
                              New patient
                              <ion-icon ios="ios-backspace" md="md-backspace"></ion-icon>
                            </button>
                        </ion-buttons>
                      </ion-list-header>
                      <ion-item>
                        <div id="left">
                          <h2>{{patientInfo.firstName}}</h2>
                          <p>First Name</p>
                        </div>
                        <div id="right">
                          <h2>{{patientInfo.lastName}}</h2>
                          <p>Last Name</p>
                        </div>
                      </ion-item>
                      <ion-item>
                        <div id="left">
                          <h2>{{patientInfo.gender}}</h2>
                          <p>Gender</p>
                        </div>
                        <div id="right">
                          <h2>{{patientInfo.dateOfBirth | date}}</h2>
                          <p>Date of Birth</p>
                        </div>
                      </ion-item>
                    </ion-list>
                  </div>
                  
                  <div class="patientReportsBox" id="boxShadows">
                    <ion-list>
                      <ion-list-header>
                        <div class="headerText">Medical records</div>
                        <ion-buttons end>
                            <button id="" ion-button icon-right (click)="addRecord()">
                              Add
                              <ion-icon ios="ios-document" md="md-document"></ion-icon>
                            </button>
                        </ion-buttons>                   
                      </ion-list-header>
                      <ion-item *ngIf="recordsData.length==0">
                        No records to display!
                      </ion-item>
                      <button ion-item *ngFor="let record of recordsData" (click)="fetchReport(record.url)">
                        <h2>{{record.fileName}}</h2>
                      </button>
                    </ion-list>
                  </div>
                  
                  <div class="patientPrescriptionsBox" id="boxShadows">
                    <ion-list>
                      <ion-list-header>
                        <div class="headerText">Past prescriptions</div>
                        <ion-buttons end>
                            <button id="" ion-button icon-right (click)="addPrescription()" [disabled]="true">
                              Prescribe
                              <ion-icon ios="ios-paper" md="md-paper"></ion-icon>
                            </button>
                        </ion-buttons>  
                      </ion-list-header>
                      <ion-item *ngIf="true">
                        No records to display!
                      </ion-item>
    <!--                   <button ion-item *ngFor="let prescription of prescriptionData">
                        <ion-label (click)="fetchReport(record.url)">{{record.name}}</ion-label>
                      </button> -->
                    </ion-list>
                  </div>
                </div> 
              </ion-list>
              
              <ion-list *ngSwitchCase="'report'">
                <div class="newReportBox">
                  <ion-list>
                    <ion-list-header>
                      <div class="headerText">Add new report</div>
                    </ion-list-header>
                    <ion-item>
                      <div id="left">
                        <h2>{{patientUid}}</h2>
                        <p>Patient UID</p>
                      </div>
                      <div id="right">
                        <h2>{{today | date}}</h2>
                        <p>Date</p>
                      </div>
                    </ion-item>
                    <ion-item>
                      <div id="left">
                        <h2>{{patientInfo.firstName}} {{patientInfo.lastName}}</h2>
                        <p>Patient name</p>
                      </div>
                      <div id="right">
                        <h2>{{doctorInfo.firstName}} {{doctorInfo.lastName}}</h2>
                        <p>Doctor name</p>
                      </div>
                    </ion-item>
                    <ion-item>
                      <div id="left">
                        <h2>{{patientInfo.dateOfBirth | date}}</h2>
                        <p>Patient DOB</p>
                      </div>
                      <div id="right">
                        <h2>{{doctorInfo.hospitalName}}</h2>
                        <p>Hospital/Clinic Name</p>
                      </div>
                    </ion-item>
                    <ion-item>
                      <ion-input type="text" placeholder="Details (optional)" [(ngModel)]="reportDetails"></ion-input>
                    </ion-item>
                    <ion-item>
                    <div id="left">
                      <input id="file-field" style="margin: 7px;" name="file-field" (change)="chooseFile($event)" type="file" accept=".pdf">
                    </div>
                    <div id="right">
                      <button ion-button id="uploadButton" (click)="uploadFile(patientUid)">Upload</button>
                    </div>
                    </ion-item>
                  </ion-list>
                </div>
              </ion-list>
              
              <ion-list *ngSwitchCase="'prescription'">

              </ion-list>
            </div>

          </div>


          <div *ngSwitchCase="'recordsSummary'">

            <div class="row">
              <div class="col-3">
                <ion-searchbar
                  [(ngModel)]="searchKey" (ionCancel)="onCancel($event)">
                </ion-searchbar>
              </div>
              <!-- <div class="col-1"></div> -->
              <div class="col-3">
                <div class="form-check checkboxDiv">
                  <label class="form-check-label checkboxText">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="uploadsChecked" (change)="filterUploadVisits(uploadsChecked)">Include visits with no uploads
                  </label>
                </div>
              </div>
              <div class="col-6" style="margin-top: 8px;">
                <span class="filterText">Filter from : </span>
                <span>
                  <div class="form-group" id="dateSelect">               
                    <input id="datefield" type="date" class="form-control" [(ngModel)]="recordsFilter.startDate" min="2018-04-15">
                  </div>
                </span>
                <span class="toText">to : </span>
                <span>
                  <div class="form-group" id="dateSelect">               
                    <input id="datefield" type="date" class="form-control" [(ngModel)]="recordsFilter.endDate">
                  </div>
                </span>
                <button id="contentButton"  ion-button style="width: 13%; height: 72%;  margin-left: 17px;  margin-top: 1px;" (click)="filterVisitsData()">Go</button>
              </div>
            </div>

            
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th>Visit No.</th>
                  <th>Patient UID</th>
                  <th>Patient Name</th>
                  <th>Hospital/Clinic</th>
                  <th>Date</th>
                  <th>Uploads</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let visitRecord of visitsDataFiltered | orderBy: visitsOrder: visitsReverse | filter: searchKey ">
                  <td>{{visitRecord.visitNumber}}</td>
                  <td>{{visitRecord.patientUID}}</td>
                  <td>{{visitRecord.patientName}}</td>
                  <td>{{visitRecord.hospitalName}}</td>
                  <td>{{visitRecord.timestamp | date}}</td>
                  <td>
                    <button ion-button icon-only clear id="tableButton" [disabled]="noRecordsUploaded(visitRecord)" (click)="openRecordsList(visitRecord)">
                      <ion-icon ios="ios-document" md="md-document"></ion-icon>
                    </button>
                    <button ion-button icon-only clear id="tableButton" [disabled]="true">
                      <ion-icon ios="ios-paper" md="md-paper"></ion-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="jumbotron" *ngIf="visitsDataFiltered.length==0" style="background: #fff; margin-top: -10px; 
            text-align: center;">
              <h6>No records to display!</h6>
            </div>

          </div>



          <div *ngSwitchCase="'appointments'">
            
            <div padding>
              <ion-segment [(ngModel)]="appointmentsSelection">
                <ion-segment-button value="pending">
                  Pending
                </ion-segment-button>
                <ion-segment-button value="upcoming" >
                  Upcoming
                </ion-segment-button>
                <ion-segment-button value="completed" >
                  Completed
                </ion-segment-button>
              </ion-segment>
            </div>

            <div [ngSwitch]="appointmentsSelection">

              <div *ngSwitchCase="'pending'">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th>SNo</th>
                      <th>Patient UID</th>
                      <th>Patient Name</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Approve</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let appointment of appointmentsData.pending | orderBy: visitsOrder; let i=index">
                      <td>{{i+1}}</td>
                      <td>{{appointment.data.patientUID}}</td>
                      <td>{{appointment.patientName}}</td>
                      <td>{{appointment.data.timestamp | date}}</td>
                      <td>{{appointment.data.timestamp | date:'shortTime'}}</td>
                      <td>
                        <button ion-button icon-only clear id="tableButton"  (click)="approveAppointment(appointment)">
                          <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
                        </button>
                        <button ion-button icon-only clear id="tableButton"  (click)="refuseAppointment(appointment)">
                          <ion-icon ios="ios-thumbs-down" md="md-thumbs-down"></ion-icon>
                        </button>                        
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="jumbotron" *ngIf="appointmentsData.pending.length==0" style="background: #fff; margin-top: -10px; 
            text-align: center;">
              <h6>No pending requests!</h6>
            </div>
              </div>

              <div *ngSwitchCase="'upcoming'">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th>SNo</th>
                      <th>Patient UID</th>
                      <th>Patient Name</th>
                      <th>Date</th>
                      <th>Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let appointment of appointmentsData.upcoming | orderBy: visitsOrder; let i=index">
                      <td>{{i+1}}</td>
                      <td>{{appointment.data.patientUID}}</td>
                      <td>{{appointment.patientName}}</td>
                      <td>{{appointment.data.timestamp | date}}</td>
                      <td>{{appointment.data.timestamp | date:'shortTime'}}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="jumbotron" *ngIf="appointmentsData.upcoming.length==0" style="background: #fff; margin-top: -10px; 
            text-align: center;">
              <h6>No upcoming appointments!</h6>
            </div>
              </div>

              <div *ngSwitchCase="'completed'">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th>SNo</th>
                      <th>Patient UID</th>
                      <th>Patient Name</th>
                      <th>Date</th>
                      <th>Time</th>                      
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let appointment of appointmentsData.completed | orderBy: visitsOrder; let i=index">
                      <td>{{i+1}}</td>
                      <td>{{appointment.data.patientUID}}</td>
                      <td>{{appointment.patientName}}</td>
                      <td>{{appointment.data.timestamp | date}}</td>
                      <td>{{appointment.data.timestamp | date:'shortTime'}}</td>
                      <td>
                        <button ion-button icon-only clear id="tableButton" [disabled]="true" *ngIf="appointment.data.status=='approved'">
                          <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
                        </button>
                        <button ion-button icon-only clear id="tableButton" [disabled]="true" *ngIf="appointment.data.status=='refuse'" >
                          <ion-icon ios="ios-thumbs-down" md="md-thumbs-down"></ion-icon>
                        </button>  
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="jumbotron" *ngIf="appointmentsData.completed.length==0" style="background: #fff; margin-top: -10px; 
            text-align: center;">
              <h6>No appointments completed yet!</h6>
            </div>
              </div>

            </div>
          
          </div>
        
      </div>

  </div>
</ion-content>