    <ion-list>
      <ion-list-header>Notifications</ion-list-header> 
      <div  class="notificationsList" *ngFor="let notification of notificationsList">
      	<div padding (click)="notificationAction(notification)">
      		<p>Approve records access request from {{notification.senderInfo.firstName}} {{notification.senderInfo.lastName}} ({{notification.senderUid}})</p>
      	</div>
      </div>
      <div padding *ngIf="notificationsList.length==0">
      	<p>No notifications to display!</p>
      </div>
    </ion-list>